{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "pnpm dlx tsx scripts/updateManifest.ts ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "public/manifest.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): update version to ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}
