{
  "branches": [
    "release"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          "assets/**",
          "index.html",
          "manifest.json"
        ]
      }
    ],
    "@semantic-release/git"
  ]
}
