#app {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4px 12px;

  &.active {
    display: flex;
  }

  .main-data {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
    }

    .action-group {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin-top: 8px;
    }

    .updatedAt {
      text-align: center;
      font-style: italic;
      color: #89a0ac;
      font-size: 1.4rem;
      margin-top: 8px;
    }
  }

  .total-credit,
  .avg-point {
    display: flex;

    span {
      font-weight: bold;
      margin-left: auto;
    }
  }

  .filter-group {
    margin-top: 8px;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 12px;

    input[type="text"] {
      flex: 1;
      padding: 6px 12px;
      width: 100%;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      label {
        cursor: pointer;
        flex-shrink: 0;
      }

      input[type="checkbox"] {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  table.data {
    width: 100%;
    border-collapse: collapse;
    user-select: text;

    td {
      padding: 2px 4px;

      &:not(:first-child, :nth-child(2)) {
        text-align: center;
      }
    }

    .row-data {
      &.ignore {
        background-color: #e3e3e3;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .btn-delete:hover {
        color: red;
        font-weight: bold;
      }
    }

    .row-head {
      background-color: #bad5e4;
      font-weight: bold;

      .row-wrap {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .table-title {
    text-align: center;
    margin-bottom: 4px;
  }

  .button-add-subject {
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    background: #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

#dialog [data-id="app"] {
  .form-subject {
    .title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    fieldset {
      padding: 8px 12px;

      .form-group {
        display: flex;
        gap: 4px;
        margin-bottom: 12px;

        input {
          width: 100%;
          flex: 1;
        }
      }

      .form-footer {
        display: flex;
        gap: 8px;
        flex: 1 1 auto;
        justify-content: center;
      }
    }
  }
}
