@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #fb900b;
  --text-color: #1c1e21;
  --error-color: #ff4d4f;
  --white-color: #fff;
  --border-color: #dddfe2;
  --placeholder-color: #9e949c;
  --green-color: #42b72a;
  --gray-color: #75777b;
  --header-height: 56px;
  --hover-item: rgb(224, 223, 223);
  --rgba-black: rgba(0, 0, 0, 0.4);
  --radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
  scroll-behavior: smooth;
  min-width: 500px;
  width: fit-content;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  position: relative;
}

body::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

.btn {
  border-radius: 6px;
  border: none;
  padding: 4px 12px;
  font-size: 1.6rem;
}

.btn:hover {
  cursor: pointer;
  -webkit-filter: brightness(96%);
  filter: brightness(96%);
}

.btn-disable {
  cursor: no-drop;
  background-color: #e4e6eb;
  color: #bcc0c4;
}

.btn-active {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.error-message {
  color: var(--error-color);
  padding: 6px 12px;
  border: 1px solid var(--error-color);
  border-radius: 5px;
  text-align: center;
}

input {
  padding: 4px 12px;
}

.hide {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4px 12px;
}

.footer {
  margin-top: 12px;
  text-align: center;
  padding: 4px 12px;
  background-color: var(--primary-color);
}

.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: var(--rgba-black);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.dialog.show {
  display: flex;
}

.dialog-body {
  padding: 20px 12px;
  border-radius: var(--radius);
  background: var(--white-color);
  width: 90%;
}
