#info {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4px 12px;

  &.active {
    display: flex;
  }

  .main-data {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
    }

    .action-group {
      display: flex;
      justify-content: center;
      gap: 6px;
      margin-top: 8px;
    }

    .updatedAt {
      text-align: center;
      font-style: italic;
      color: #89a0ac;
      font-size: 1.4rem;
      margin-top: 8px;
    }
  }

  .result {
    .title {
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: 12px;
      text-transform: uppercase;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      user-select: text;

      td {
        padding: 2px 4px;

        &:not(:first-child, :nth-child(2)) {
          text-align: center;
        }
      }

      .row-data {
        &.ignore {
          background-color: #e3e3e3;
        }

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
        }

        .btn-delete:hover {
          color: red;
          font-weight: bold;
        }
      }

      .row-head {
        background-color: #bad5e4;
        font-weight: bold;

        .row-wrap {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
